body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

img {
    float: right
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

.link-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.link {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #f0f0f0;
}